.photo-grid__photos {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 282px));
}
