.photo__delete-button {
  align-self: center;
  background-image: url(../../../images/trash.svg);
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.photo__delete-button:hover {
  opacity: 0.5;
}
