.popup__input {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding: 0 0 5.5px 0;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: 0;
}
