.profile__add-btn {
  background-image: url(../../../images/plus.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50%;
  border-style: none;
  border: 2px solid #ffffff;
  height: 50px;
  width: 150px;
  align-self: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease-in-out;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .profile__add-btn {
    height: 50px;
    width: 282px;
    margin-top: 36px;
  }
}
