.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0 0 0;
  max-width: 880px;
}

@media screen and (max-width: 880px) {
  .profile {
    padding: 40px 10px 0 10px;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    max-width: 580px;
    flex-direction: column;
  }
}



@media screen and (max-width: 480px) {
  .profile {
    padding-top: 42px;
    max-width: 282px;
  }
}
