.popup__save {
  border-style: none;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.5s ease-in-out;
  margin: 20px 0 0 0;
  padding: 0;
}

.popup__save:hover {
  opacity: 0.8;
}

.popup__save.popup__save_disabled {
  opacity: 0.2;
  color: rgba(0, 0, 0, 1);
  border: 1px solid #000000;
  background: #e5e5e5;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 540px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
    margin: 15px 0 0 0;
  }
}
