.photo__like {
  align-self: center;
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  background-color: white;
  background-repeat: no-repeat;
  border-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.photo__like:hover {
  opacity: 0.5;
}
