.photo {
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  max-width: 282px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
