.profile__bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .profile__bio {
    max-width: 240px;
    position: relative;
  }
}
